@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --background-color: #222327;
    --text-primary: #7933fc;
    --text-white: #E5E7EB;
    --xsmall-margin: 0.3em;
    --small-margin: 0.6em;
    --medium-margin: 1.1em;
    --large-margin: 2.6em;
    --xlarge-margin: 6em;

    --font-family: 'Montserrat', sans-serif;
    --h1: bold 1.7em var(--font-family);
    --h1-desktop: bold 2.6em var(--font-family);
    --h2: normal 1em var(--font-family);
    --h2-desktop: normal 1.1em var(--font-family);
    --h3: bold 1.65em var(--font-family);
    --h4: bold 1em var(--font-family);
    --p: normal normal 1em/1.75em var(--font-family);
    --button: normal 600 0.8em var(--font-family);
}

/* Reset CSS */
* {
    margin: 0; 
    padding: 0;
    list-style-type: none;
    border: none;
    box-sizing: border-box;
}
img { 
    max-width: 100%; 
    height: auto;
}
a:link, a:visited {
    color: var(--text-white);
    text-decoration: none;
}
body {
    background: 
        linear-gradient(#060510 40%, rgb(42, 16, 102) 100%);
    background-color: var(--background-color);
    color: var(--text-white);
    font-family: var(--font-family);
    padding: 2em 1em;
    transition: all ease-in-out 0.2s;
}
h1 { 
    font: var(--h1); 
    text-transform: uppercase;
    text-align: center;
    color: var(--text-primary);
}
h2 { 
    font: var(--h2); 
    text-align: center;
}
h3 { 
    font: var(--h3);
    text-transform: uppercase;
    text-align: center;
    margin-top: var(--medium-margin);
    margin-bottom: var(--small-margin);
}
h4 {
    font: var(--h4);
    text-align: center;
    margin-top: var(--small-margin);
}
p { 
    font: var(--p);
    text-align: justify;
}
button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: var(--large-margin);
    border-radius: 12px;
    padding: 1em 1.2em;
    background-color: var(--text-primary);
    color: var(--text-white);
    font: var(--button);
    text-transform: uppercase;
    width: 60vw;
}
button i { color: var(--text-white); }
.hidden-responsive { display: none; }
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--small-margin);
}
.contact-info {
    display: flex;
    justify-content: center;
    gap: var(--medium-margin);
    font-size: 1.5em;
    margin: var(--xsmall-margin) 0;
    flex-wrap: wrap;
}
.contact-info i { color: var(--text-primary); }

.aboutme-section {
    display: flex;
    flex-direction: column;
}
.aboutme-section h3 {
    margin-top: var(--large-margin);
}
.aboutme-section p { margin-bottom: var(--xsmall-margin); }
.profile-img {
    width: 80%;
    height: fit-content;
    object-fit: cover;
    box-shadow: 0px 0px 60px var(--text-primary);
    border-radius: 100%;
    margin: var(--large-margin) auto;
}

.tech-stack {
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
    font-size: 0.9em;
}

.tech-stack li {
    background-color: var(--text-primary);
    padding: 0.6em 1em;
    border-radius: 24px;
    transition: all ease-in-out 0.2s;
}

.tech-stack li i {
    color: var(--text-white);
    margin-right: var(--xsmall-margin);
}
.project-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--large-margin);
}
.project-container img {
    border-radius: 12px;
    transition: all ease-in-out 0.2s;
}
.project-container img:hover {
    filter: blur(1px);
    transition: all ease-in-out 0.2s;
}

@media (min-width: 768px) {
    
    body {
        padding: 2.5em 5em;
    }
    section { margin-top: var(--large-margin);}
    h1 { 
        font: var(--h1-desktop); 
        text-align: left;
    }
    h2 { 
        font: var(--h2-desktop); 
        text-align: left;
    }
    h3 { text-align: left; }
    .hidden-responsive { display: inline; }
    
    .aboutme-section {
        display: flex;
        gap: var(--xlarge-margin);
        flex-direction: row;
    }
    .aboutme-section h3 { margin-top: var(--medium-margin); }
    
    .aboutme-section img {
        max-width: 350px;
    }
    .project-container {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }

}
@media (min-width: 1424px) {
    body {
        padding: 2.5em 10em;
    }
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    .contact-info { justify-content: flex-start;}
    button {
        display: flex;
        width: 16vw;
        padding: 25px 15px;
    }

}